<h1><%= @sub.title %></h1>
  <h3>Description</h3>
  <h3><%= @sub.description %></h3>
  <% if current_user.id == @sub.user_id %>
  <a href="<%= edit_sub_url(@sub) %>">Edit</a>
  <% end %>
  <a href="/posts/new">New post</a>
  <ul>
    <% @posts.each do |post| %>
      <li><a href="<%=post_url(post)%>"><%= post.title %></a></li>
    <% end %>
  
  </ul>
  